.addForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 20px;
  background: linear-gradient(135deg, #61dafb, #21a1f1);
  color: white;
  text-align: center;
}
.addContent {
  width: 100%;
  max-width: 400px;
  margin-bottom: 15px;
}

.addTitle {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #333;
}

.loader,
.error {
  margin-top: 10px;
  font-size: 1.2rem;
  color: red;
}

.noContact {
  font-size: 1.5rem;
  margin-top: 10px;
  color: #777;
}
