.nav {
  display: flex;
  gap: 15px;
}

.link {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
.activeLink {
  background-color: #61dafb;
  color: #000000;
  font-size: 22px;
  font-weight: bold;
}
