.user {
  display: flex;
  align-items: center;
  color: #ffffff;
  gap: 25px;
  font-size: 20px;
}

.logout {
  background-color: #61dafb;
  color: #000;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s, color 0.3s;
}
.logout:hover {
  background-color: #21a1f1;
}
